* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}

/*  ////////////  home page /////// */
.home {
	display: flex;
	flex-direction: column;
}
.navbar {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 11em;
	align-items: center;
	justify-content: space-between;
	padding: 0 130px 0 0;

}
.menu {
	list-style: none;
	display: flex;
}
.menu .menu-left {
  display: flex;
  margin-right: 50em;
}

.menu li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0 20px;
	padding: 25px 0px;
	padding-top: 90px;
}
.menu li a {
	color: #016e96e3;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	position: relative;
}
.menu li a span {
	padding: 10px 35px;
	color: white;
	font-size: 20px;
	background-color: #0ba2d4e3;
	border-radius: 30px;
}
.menu li a span:hover {
	color: white;
	transition: all 0.4s;
	background-color: #0ba2d4af;
}

.logo {
	display: flex;
	align-items: start;
	margin-left: 140px;
  font-family: 'Lucida Sans',Geneva, Verdana, sans-serif;
	padding: 0;
	color: #0ba2d4e3;
}
.logo h1 {
  margin-left: -38px;
  padding-top: 43px;
	font-size: 47px;
}
.logo span{
	font-size: 32px;
}
.logo img {
  height:120px;
  width:120px;
}